

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: white;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #185FD9;
    font-size: 18px;
}

:host(app-navigation-btn[is-enabled="false"]) button {
    cursor: not-allowed;
}

:host(app-navigation-btn[is-enabled="false"]) .material-symbols-outlined {
    opacity: .5;
}