span {
    cursor: pointer;
    color: var(--white);
    display: block;
    padding: 12px 16px;
}

span:focus {
    background-color: var(--dark-blue-100);
    outline: none;
}

span:hover {
    background-color: var(--dark-blue-100);
}

span:last-child {
    border-radius: 0 0 20px 20px;
}