:host {
    position: fixed;
    left: -356px;
    width: 356px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
}

:host(.visible) {
    left: 24px;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 100%;
    overflow-y: auto;
}

div::-webkit-scrollbar {
    width: 0px;
}