:host {
    position: fixed;
    left: 24px;
    width: 356px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 8px;
}