label {
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--dark-blue-100);
    color: var(--white-100);
    display: block;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover {
    background-color: var(--light-blue-100);
}

input[type="checkbox"] {
    display: none;
}

.selected {
    background-color: var(--light-blue-100);
}