dialog {
    width: 80%;
    background-color: var(--dark-blue-100);
    border: none;
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .5);
}

input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    margin: 0 0 4px 0;
}

input::placeholder {
    opacity: .5;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

button {
    width: 100%;
}