:host-context(app-drawer-toggle[is-open="true"]) .icon {
    background-color: #D3E3FD;
}

:host-context(app-drawer-toggle[is-open="true"]) .material-symbols-outlined {
    color: #185FD9;
}

:host-context(app-drawer-toggle[is-open="true"]) .label {
    color: #185FD9;
}

button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 64px;
    height: 56px;
    transition: .2s ease-in-out;
}

button:active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    border-radius: 100px;
    margin: 0 0 4px 0;
}

.material-symbols-outlined {
    transition: .2s ease-in-out;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #5E5E5E;
}

button:hover .icon {
    background-color: #D3E3FD;
}

button:hover .material-symbols-outlined {
    color: #185FD9;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5E5E5E;
}