button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #185FD9;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    height: 32px;
    padding: 8px 16px 8px 8px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #ffffff;
    font-size: 14px;
}

.label {
    margin: 0 0 0 8px;
    font-size: 16px;
    font-weight: 500;
}