:host {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: nowrap;
}

.search {
    min-width: 356px;
    backdrop-filter: blur(2px);
    background-color: var(--dark-blue-90);
    border-radius: 20px;
}

.upper-search {
    display: flex;
}

.divider {
    width: 1px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vr {
    width: 1px;
    height: 24px;
    background-color: var(--light-blue);
}