button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 16px;
    background-color: #dee0ff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.20), 0 1px 18px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.12);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #00105c;
}