:host-context(.last) .wrapper {
    border-bottom: none;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools h4 {
    margin: 0;
}

.tools {
    display: flex;
}