:host {
    position: fixed;
    right: -350px;
    top: 0;
    height: 100vh;
    width: 350px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .2s ease-in-out;
}

:host(.visible) {
    right: 0;
}

.path-drawer-header {
    padding: 24px 24px 8px 24px;
    border-bottom: 1px solid #e0e0e0;
}

.close-icon {
    cursor: pointer;
}

h2 {
    font-size: 1rem;
}

.info-container {
    height: 82vh;
    overflow-y: auto;
    padding: 8px 24px 24px 24px;
}

.info-container::-webkit-scrollbar {
    width: 6px;
    background-color: #eeeeee;
}

.info-container::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;

  }