:host {
    position: absolute;
    right: 24px;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #202125;
    border: none;
    border-radius: 100px;
    height: 24px;
    width: 24px;
}

button:hover {
    background-color: #f3f3f3;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #202125;
    font-size: 12px;
}