:host {
    /* position: fixed;
    top: 24px;
    left: 72px; */
    width: 300px;
    min-width: 300px;
    background-color: white;
    transition: .2s ease-in-out;
}

/* :host(.visible) {
    left: 24px;
} */