:host {
  user-select: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.snackbar {
  background-color: var(--dark-blue-90);
  border-radius: 24px;
  width: 350px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

p {
  color: #F5EFF7;
  padding: 0 0 0 24px;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0 16px;
  padding: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
}

button:hover {
  background-color: var(--dark-blue-100);
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  color: #F5EFF7;
  font-size: 16px;
}

.bar-color {
  height: 2px;
  border-radius: 0px 0px 4px 4px;
  background-color: #D0BCFF;
}