:host {
    display: block;
    width: 32%;
    height: fit-content;
    max-height: 100%;
    flex: 0 0 auto;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--blue-100);
    position: relative;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.wrapper {
    padding: 0 0 24px 0;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

app-goto,
app-play-info-btn {
    width: 48%;
}

.info {
    padding: 24px 24px 0 24px;
}

.header {
    margin: 0 0 12px 0;
}

.title {
    display: flex;
    align-items: center;
}

.category {
    padding: 0 0 0 24px;
}

.legend {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 8px 0 0;
}

.content {
    overflow-y: auto;
    max-height: 80px;
    padding: 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    :host {
        width: 100%;
        gap: 24px;
    }
}