:host {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--dark-blue-100);
    color: var();
    transition: .2s ease-in-out;
}

:host(.visible) {
    visibility: visible;
    height: 32%;
}

:host(.maximized) {
    height: 80%;
}

.toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.controller {
    height: 15%;
}

.contents {
    height: 75%;
}

.close {
    background-color: var(--white-50);
    border-radius: 50px;
    height: 4px;
    width: 40px;
}

.tabs {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    color: var(--white-100);
}

.tab {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 33%;
    height: 100%;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.tab::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--green-blue-100);
    bottom: 0;
    left: 0;
    transition: .2s ease-in-out;
}

.active-tab::before {
    width: 100%;
}

.content {
    display: none;
    height: 100%;
    overflow-y: auto;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--light-blue-100);
}

.content::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.active {
    display: block;
}

:host(.maximized) .toggle {
    height: 5%;
}

:host(.maximized) .controller {
    height: 5%;
}

:host(.maximized) .contents {
    height: 90%;
}