.list {
    padding: 24px;
}

.tools {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: var(--blue-100);
    color: var(--white-100);
    box-sizing: border-box;
    width: 100%;
}

.tools button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: var(--white-100);
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}