button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    padding: 16px;
    background-color: #FFFFFF;
}

button.zoom-in {
    border-radius: 8px 8px 0 0;
}

button.zoom-out {
    border-radius: 0 0 8px 8px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #70757A;
}