:host {
    position: relative;
    right: 48px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 16px;
    background-color: #185FD9;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #FFFFFF;
}