* {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.87);
}

label {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #f1f1f1;
    line-height: 2.5rem;
    white-space: nowrap;
}

label:hover {
    background-color: #e0e0e0;
}

input[type="checkbox"] {
    display: none;
}

.selected {
    background-color: #e0e0e0;
}