div {
    height: 93vh;
    overflow-y: auto;
}

svg {
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.info-key {
    font-weight: 700;
}