:host {
    position: fixed;
    right: -360px;
    top: 80px;
    max-height: 500px;
    width: 360px;
    background-color: #FFFFFF;
    border-radius: 8px 0 0 8px;
    transition: .2s ease-in-out;
    overflow-y: auto;
}

:host(.visible) {
    right: 24px;
}

:host::-webkit-scrollbar {
    width: 6px;
    background-color: #eeeeee;
}

:host::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
}

.drawer-toggle {
    position: fixed;
    display: none;
    top: 2%;
    right: 24px;
    transition: .2s ease-in-out;
}

:host(.visible) .drawer-toggle {
    right: calc(360px + 24px);
}

.drawer-toggle button.close-drawer-icon {
    display: none;
}

:host(.visible) .drawer-toggle button.open-drawer-icon {
    display: none;
}

:host(.visible) .drawer-toggle button.close-drawer-icon {
    display: flex;
}

:host(.draggable) .drawer-toggle {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #5E5E5E;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 8px 24px;
    border-bottom: 1px solid #DBDCE0;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header .title {
    font-size: 1.25rem;
}

.header-tools {
    display: flex;
}

.close-icon,
.path-tools-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    float: right;
    height: 40px;
    width: 40px;
}