:host {
  user-select: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 0 24px;
  width: 500px;
}

:host([type="loader"]) .content {
  justify-content: flex-start;
  padding: 0 16px;
}

:host([type="loader"]) .content p {
  padding: 0 0 0 16px;
}

.snackbar {
  background-color: var(--green-blue-25);
  border: 1px solid var(--green-blue-100);
  border-radius: 12px;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

p {
  color: var(--white-100);
  padding: 0 0 0 24px;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0 16px;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: transparent;
}

button:hover {
  background-color: var(--green-blue-25);
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotate 1s linear infinite
}

.loader-icon::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid var(--white-100);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
      transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 16px;
  color: var(--white-100);
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.bar-color {
  height: 2px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--green-blue-100);
  margin: 0 12px;
}

@media screen and (max-width: 768px) {
  :host {
    width: 100%;
  }
}