h1 {
    font-size: 1.25rem;
}

.page {
    padding: 0 4%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white-100);
    background-color: var(--dark-blue-100);
    text-align: center;
}

.box {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--blue-100);
    border-radius: 16px;
    padding: 32px;
}

.logo {
    width: 40px;
}

.list {
    height: 200px;
    margin: 24px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list::-webkit-scrollbar {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button {
    cursor: pointer;
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    color: var(--white-100);
    border: 1px solid;
    border-radius: 50px;
}

button:disabled {
    opacity: .25;
    cursor: not-allowed;
}

button.submit {
    background-color: var(--green-blue-25);
    border-color: var(--green-blue-100);
}

button.skip {
    background-color: var(--dark-blue-90);
    border-color: var(--blue-90);
}

.clear {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: none;
    border-radius: 0;
    padding: 0;
    color: black;
    position: fixed;
    bottom: 24px;
    right: 24px;
}

@media screen and (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}