/* #change-theme-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}