button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5E5E5E;
    border-radius: 100px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: #DBDCE0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #5E5E5E;
    font-size: 24px;
}