/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

/* Pop up */
#htmlOverlay {
  background-color: white;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
}

/* Logo */
.logo-section {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 24px;
  width: 350px;
  z-index: 98;
  background-color: #1E233A;
}

#logo {
  max-width: 100px;
}

/* Drawer */
#drawer {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 350px;
  padding: 72px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .2s ease-in-out;
  overflow-y: auto;
}

#drawer h3 {
  margin: 32px 0 8px 0;
}

#drawer p {
  font-size: .9rem;
}

#drawer.drawer-open {
  top: 0px;
  transition: .2s ease-in-out;
}

/* Search bar */
#drawer #search {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #DEDEDE;
  padding: 16px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  margin: 0 0 16px 0;
}

#drawer #search:active,
#drawer #search:focus {
  outline: none;
  background-color: #f1f1f1;
}

/* Media queries */
@media screen and (max-width: 576px) {

  .logo-section,
  #drawer {
    width: 100%;
    transition: .2s ease-in-out;
  }
}