.accordion-item {}

.accordion-item .accordion-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    border: none;
    background: none;
    outline: none;
}

.accordion-item .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-size: 1rem;
}

/* .accordion-item .accordion-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion-item .accordion-icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: black;
}

.accordion-item .accordion-icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: black;
} */

.accordion-content {
    opacity: 0;
    display: none;
    max-height: 0;
    transition: all .2s ease-in-out;
    font-size: 1rem;
}

.accordion-show {
    opacity: 1;
    display: block;
    max-height: fit-content;
    transition: all .2s ease-in-out;
}